@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #18171C;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 1em;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}