@import "tailwindcss";

/* Isso garante que o fundo escuro cubra a tela toda e remove margens chatas */
:root {
  background-color: #0a192f;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}