@charset "UTF-8";

main {
    width: 450px;
    color: white;
}

main img {
    display: block;
    margin: auto;
    width: 200px;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type='number'] {
    width: 100%;
    height: 35px;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    border: none;
    border-radius: 2px;
}

input[type='number']:focus-within {
    outline: 1px solid #F44336;
}

button {
    width: 100%;
    height: 35px;
    border: none;
    background-color: #006aff;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056ce;
    transition-duration: .2s;
}

button:active {
    background-color: white;
    color: #0056ce;
    transition-duration: 0s;
}

section {
    background-color: green;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
}

section:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

section h1 {
    font-size: 1.5em;
}

section p {
    margin: 5px 0px;
}